@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

body {
  padding:50px;
  color:#777;
  font: 1.3em Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  font-weight:100;
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
}

.cover img {
	height: auto;
	width: 100%;
}